[Unit]
# The agent name isn't injected into the Wazuh agent XML configuration
# file until cloud-init has completed.
After=cloud-init.target
Wants=cloud-init.target
